In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('1_full\\csvson\\naivebayes\\ayrilmiscsv.csv')

In [16]:
X = dataset.iloc[:, [2,3]].values
y = dataset.iloc[:, 4].values

In [17]:
X

array([['245846.0', 'Does that question interest you?'],
       ['159183.0', 'Does it please you to believe I am a nobe jocky?'],
       ['340147.0', 'Have you tried?'],
       ...,
       ['ac0d288727f943e396346de6b96e2e34',
        'Will you be travelling in Economy Class?'],
       ['fa612f49abb64c459b7ccdf08fda2e8f',
        'What city will you be flying from?'],
       ['fb6eefee0b9e4e1f8306a0debdaf9132', '_']], dtype=object)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [5]:
# build the freqs dictionary

freqs = create_frequency(train_x, train_y)

NameError: name 'create_frequency' is not defined

In [5]:
def train_naive_bayes(freqs, train_x, train_y):
    loglikelihood = {}
    logprior = 0
    
    # calculate the number of unique words in vocabulary
    unique_words = set([pair[0] for pair in freqs.keys()])
    V = len(unique_words)
    
    # calculate N_pos and N_neg
    N_pos = N_neg = 0
    for pair in freqs.keys():
        if pair[1] > 0:
            N_pos += freqs[(pair)]
        else:
            N_neg += freqs[(pair)]
        
    # calc the number of documents (tweets)
    D = train_y.shape[0]
    
    # calc D_pos, the number of positive documents (tweets)
    D_pos = sum(train_y)
    
    # calc D_neg, the number of negative documents (tweets)
    D_neg = D - sum(train_y)
    
    # calc logprior
    logprior = np.log(D_pos) - np.log(D_neg)
    
    # for each unique word
    for word in unique_words:
        
        # get the positive and negative freq of the word
        freq_pos = freqs.get((word, 1), 0)
        freq_neg = freqs.get((word, 0), 0)
        
        # calculate the probability that word is positive, and negative
        p_w_pos = (freq_pos + 1) / (N_pos + V)
        p_w_neg = (freq_neg + 1) / (N_pos + V)
        
        # calc the log likelihood of the word
        loglikelihood[word] = np.log(p_w_pos / p_w_neg)
        
    return logprior, loglikelihood

In [6]:
logprior, loglikelihood = train_naive_bayes(freqs, train_x, train_y)
print(logprior)
print(len(loglikelihood))

NameError: name 'freqs' is not defined

In [13]:
string = "nan nan nan"
if "nan " in string:
    print("hello")

hello

In [14]:
l=[1,2,3,0,0,1]
for i in range(0,len(l)):
       if l[i]==0:
           l.pop(i)

IndexError: list index out of range

In [15]:
l = [x for x in l if x != 0]

In [16]:
l

[1, 2, 3, 1]

In [6]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
text = ['Hello my name is james',
'james this is my python notebook',
'james trying to create a big dataset',
'james of words to try differnt',
'features of count vectorizer']
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
df

,big,count,create,dataset,differnt,features,hello,is,james,my,name,notebook,of,python,this,to,try,trying,vectorizer,words
0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1,1,0,1,0,1,1,0,0,0,0,0
2,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,1,0,0,1
4,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0

In [7]:
text = ['Hello my name is james',
'james this is my python notebook',
'james trying to create a big dataset',
'james of words to try differnt',
'features of count vectorizer']
coun_vect = CountVectorizer(max_df=0.75)
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df2 = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
df2

,big,count,create,dataset,differnt,features,hello,is,my,name,notebook,of,python,this,to,try,trying,vectorizer,words
0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,0,0,0,0
2,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0,0,1
4,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0

In [9]:
text = ['Hello my name is james',
'james this is my python notebook',
'james trying to create a big dataset',
'james of words to try differnt',
'features of count vectorizer']
coun_vect = CountVectorizer(min_df=2)
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
df

   is  james  my  of  to
0   1      1   1   0   0
1   1      1   1   0   0
2   0      1   0   0   1
3   0      1   0   1   1
4   0      0   0   1   0